.footer
  form.footer--form
    .footer--form_block
      label(for='email').footer--label ВАШ EMAIL: 
      input(type='email' required name='email')#email.footer--input
    .footer--form_block
      input(type='checkbox')#checkbox.footer--input
      label(for='checkbox').footer--label ПОДПИСАТЬСЯ НА НОВОСТИ
    button.footer--button ЗАРЕГИСТРИРОВАТЬСЯ

    
