.goods{
  margin-top: 30px;
  padding: 10px ;
}
.goods--list{
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
}
.goods--item{
  background: #fff;
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
  height: 415px;
  margin: 0 6px;
  margin-bottom: 40px;
  position: relative;
  vertical-align: top;
  border:4px solid transparent;
  box-shadow: 0px -1px 1px #000;
  transition: 0.2s;
  &:hover{
    border:4px solid $color_1;
    box-shadow: none;
  }
  @include tablet{
    width: 40%;
    text-align: center;
  };
  @include mobile{
    display: block;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 40px;
  };
}
.goods--title{
  padding: 10px;
  font-size: 25px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.good--item_list{
  padding-left: 9px;
}
.good--sub_item{
  margin-bottom: 4px;
  &:first-child{
    margin-bottom: 20px;
  }
}
.goods--anchor{
  position: absolute;
  bottom: 0;
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 20px;
  color: #b8b8b8;
  transition: 0.2s;
  &:hover{
    color: $color_1;
    text-decoration:underline;
  }
  @include tablet{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3%;
  };

}
.goods--scroll{
  display: block;
  width: 12%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 30px;
  color: $color_1;
  font-size: 35px;
  font-family: "PrototypsterMedium", sans-serif;
  text-decoration:underline;
  cursor: pointer;
  @include mobile{
    width: 25%;
  };
}
